@font-face {
	src:
		url("../fonts/Gerbera-Light.woff2") format("woff2"),
		url("../fonts/Gerbera-Light.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Regular.woff2") format("woff2"),
		url("../fonts/Gerbera-Regular.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Bold.woff2") format("woff2"),
		url("../fonts/Gerbera-Bold.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Black.woff2") format("woff2"),
		url("../fonts/Gerbera-Black.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
:root {
	--c-primary: #d3d726;
	--c-primary--hover: #e9ed24;
	--c-secondary: #50287d;
	--c-secondary-darker: #4a2c78;
	--c-text-p: #4c5d75;
	--c-ghost: #c5d0e0;
	--c-text-regular: #111827;
	--c-text-second: #6c7a96;
	--c-bg-secondary: #f0f2f7;
	--c-border-input: #e1e6f0;
	--fz-h1: 68px;
	--fz-h2: 36px;
	--fz-h3: 24px;
	--fz-h3-card: 22px;
	--fz-h4: 18px;
	--fz-regular: 16px;
	--fz-subtitle: 32px;
	--z-dropdown: 10;
	--z-tooltip: 20;
	--z-sticky-header: 90;
	--z-popup: 100;
	--z-burger-button: 50;
	--z-burger: 110;
}

@mixin transition-mix(
	$property: all,
	$duration: 0.2s,
	$timing: linear,
	$delay: 0s
) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}
* {
	outline: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
.hidden {
	visibility: hidden;
}
a,
button {
	cursor: pointer;
}
input,
button {
	display: inline-block;
	border: none;
	padding: 0;
	background: none;
}
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
h1 {
	font-weight: 500;
	font-size: var(--fz-h1);
	line-height: 1.11;
}
h2 {
	font-weight: 500;
	font-size: var(--fz-h2);
	line-height: 1.11;
}
h3 {
	font-weight: 500;
	font-size: var(--fz-h3);
	line-height: 1.11;
}
h4 {
	font-weight: 500;
	font-size: var(--fz-h4);
	line-height: 1.11;
}
ul,
ol {
	list-style: none;
}
a,
p {
	color: #4c5d75;
}
img {
	max-width: 100%;
}
body {
	font-family: "Gerbera", "Arial", "Helvetica", sans-serif;
	font-size: var(--fz-regular);
	color: var(--c-text-regular);
	line-height: 1.5;
	position: relative;
}
.form-privacy {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	&__checkbox {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		border-radius: 2px;
		width: 15px;
		height: 15px;
		background-color: rgb(130, 130, 130);
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			border-radius: 50%;
			width: 4px;
			height: 4px;
		}
	}
}
.form-privacy__checkbox-hidden:checked + .form-privacy__checkbox {
	background-image: url("../img/form/form-check.svg");
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}
.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.container {
	padding: 0 calc(100% - (50% + 640px));
	margin-left: auto;
	margin-right: auto;
}

.has-pointer {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: -3em;
    top: -0.25em;
		display: block;
		width: 40px;
		height: 40px;
		background-image: url("../img/styling/triangle-pointer.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.section__title {
	font-size: var(--fz-h2);
	margin-bottom: 68px;
}
.section__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--c-text-p);
}

// _CONTROLS
.buttons__container,
.buttons-set {
	display: flex;
	align-items: center;
	.button {
		margin-right: 12px;
	}
	.button:last-child {
		margin-right: 0;
	}
}

.buttons__container--right {
	justify-content: flex-end;
}
.button {
	--fz-button: var(--fz-regular);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	padding: 16px 24px;
	font-weight: 500;
	font-size: var(--fz-button);
	line-height: 1.5;
	transition: 0.3s all ease-out;
	color: var(--c-text-regular);
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: 0;
		opacity: 0;
		transition: 0.3s all ease-out;
		z-index: 0;
	}

	img,
	svg,
	span {
		position: relative;
		z-index: 2;
	}
}

.button--primary {
	border: 1px solid var(--c-primary);
	background-color: var(--c-primary);
	&:before {
		background-color: var(--c-primary--hover);
	}
}
.button--primary:focus,
.button--primary:hover {
	border: 1px solid var(--c-primary--hover);

	&:before {
		opacity: 1;
	}
}
.button--secondary {
	border: 1px solid var(--c-ghost);
	&:before {
		background-color: var(--c-ghost);
		opacity: 0;
		transition: all 0.3s;
	}
}
.button--secondary:focus,
.button--secondary:hover {
	&:before {
		opacity: 1;
	}
}
.button--arrowed {
	width: 66px;
	height: 66px;
	font-size: 0;
	background-color: #95a3ba;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--c-primary);
		opacity: 0;
		transition: all 0.3s linear;
		z-index: 0;
	}
	img,
	svg,
	span {
		position: relative;
		z-index: 2;
	}
}
.button--arrowed:hover {
	&:before {
		opacity: 1;
	}
}
.button__icon {
	width: 24px;
	height: 24px;
	display: block;
	margin-right: 12px;
}
.button__text {
	margin-bottom: 1px;
}

.input__wrapper {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--c-border-input);
	border-radius: 6px;
	margin-bottom: 16px;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-left: 20px;
	position: relative;
	cursor: pointer;
}

.input__name {
	font-size: 12px;
	color: #95a3ba;
	margin-bottom: 2px;
	line-height: 1;
	font-weight: 400;
}
.input-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center
}
.input-icons__button:not(:last-child) {
	margin-right: 6px;
}
.input__field {
	width: 100%;
	margin-right: 12px;
	pointer-events: none;
}
.input {
	width: 100%;
}


.input-dropdown {
	position: absolute;
	top: 54px;
	left: -1px;
	width: calc(100% + 2px);
	background-color: #fff;
	border: 1px solid var(--c-border-input);
	border-top: none;
	border-radius: 0 0 6px 6px;
	display: none;
}
.input-dropdown.shown {
	display: block;
}
.shown {
	z-index: 5;
}

.input-dropdown-list {
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.input-dropdown-list-item {
	text-align: left;
	line-height: 1.7;
}

.input-dropdown-list-item:hover {
	color: var(--c-primary);
}

.input--dropdown:after {
	content: '';
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../img/icons/icon-dropdown.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.link-more {
	font-weight: 500;
	display: inline-block;
	border-bottom: 1px solid var(--c-text-p);
	transition: all 0.3s ease;
}
.link-more:hover {
	color: var(--c-secondary);
}

.time__published {
	font-size: 14px;
	color: var(--c-text-p);
}

.page-programm {
	--fz-h2: 42px;
}


// __DECORATORS
.main {
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.bg-header {
	background-color: var(--c-bg-secondary);
	width: 100vw;
	height: 1600px;
	position: absolute;
	top: 0;
	left: 0;
}

.skewed-bgs {
	overflow: hidden;
	position: absolute;
	width: 100%;
	max-height: 3000px;
	height: 100%;

	&--top {
		top: 0;
		.skewed-bgs__item--accent {
			top: 840px;
		}
		.skewed-bgs__item--grey {
			top: 710px;
		}
		.skewed-bgs__item--white {
			top: 710px;
		}
	}

	&--bottom {
		// bottom: 0;
		top: 2800px;
		max-height: 2300px;

		.skewed-bgs__item--accent {
			// bottom: 1580px;
			top: 600px;
		}
		.skewed-bgs__item--grey {
			// bottom: 2100px;
			top: 100px;
		}
	}
}

.skewed-bgs--bottom-mobile {
	display: none;
}

.skewed-bgs__item {
	width: 280vw;
	position: absolute;
	z-index: 1;
	max-width: 300vw;
	left: -20vw;
}

.skewed-bgs__item--accent {
	background-color: var(--c-primary);
	height: 980px;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.34);
	transform: rotate(-15deg);
}

.skewed-bgs__item--white {
	background-color: #fff;
	height: 980px;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.34);
	transform: rotate(-13.38deg);
}

.skewed-bgs__item--grey {
	background-color: #e5e5e5;
	height: 980px;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.34);
	transform: rotate(-20deg);
}

.decorators-triangles {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 6900px;
}

.decorators-triangles__triangle {
	position: absolute;
	top: 0;
	right: 0;
}

.decorators-triangles__triangle--hero-left {
	top: -230px;
	right: -20px;
	width: 2500px;
	height: 2200px;
}
.decorators-triangles__triangle--hero-right {
	top: -230px;
	right: -580px;
	width: 1720px;
	height: 1350px;
}

.decorators-triangles__triangle--hero-center {
	right: 220px;
}

.decorators-triangles__triangle--hero-left-bottom {
	display: none;
}

.decorators-triangles-t2 {
	position: absolute;
	top: 2220px;
	// max-height: 3300px;
	max-height: 2800px;
	.decorators-triangles__triangle--filled {
	}
	.decorators-triangles__triangle--bordered {
		right: unset;
    left: -445px;
    top: 54px;
		width: 1310px;
    height: 2070px;
	}
	.decorators-triangles__triangle--bottom-right {
		top: unset;
    width: 600px;
    height: 600px;
    position: absolute;
    right: -10px;
    left: unset;
    bottom: 20px;
	}
	.decorators-triangles__triangle--bottom-right-upper {
		top: unset;
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: -420px;
    left: unset;
    bottom: 330px;
		opacity: 0.3;
	}
}

// __PAGE PROGRAMM
.page-programm {
	.decorators-triangles {
		z-index: 2;
	}

	.decorators-triangles__triangle--hero-left {
		width: 600px;
    height: 530px;
    left: unset;
    right: 170px;
    top: 270px;
	}

	.skewed-bgs {
		z-index: 1;
		&--top {
			top: 0;
			.skewed-bgs__item--accent {
				top: 120px;
				height: 800px;
			}
			.skewed-bgs__item--grey {
				top: 10px;
				height: 888px;
			}
			.skewed-bgs__item--white {
				top: 100px;
				height: 800px;
			}
		}

		&--bottom {
			top: 2360px;

			.skewed-bgs__item--accent {
				bottom: 1580px;
			}
			.skewed-bgs__item--grey {
				bottom: 2100px;
				height: 750px;
			}
		}

	}

	.bg-header {
		height: 100vh;
	}

	.skewed-bgs--bottom.skewed-bgs--bottom-faq {
		top: 2170px;
		.skewed-bgs__item--grey {
			height: 795px;
		}
	}
}


.decorators-triangles.decorators-triangles--edges {
	z-index: 10;
	pointer-events: none;
	.decorators-triangles__triangle--hero-right {
		top: 80px;
    right: -600px;
    width: 1300px;
    height: 1400px;
	}
	.decorators-triangles__triangle--hero-right:nth-child(2) {
		top: 1290px;
		right: -670px;
	}
	.decorators-triangles__triangle--hero-right:nth-child(3) {
		top: 2580px;
		right: -670px;
	}
	.decorators-triangles__triangle--hero-right:nth-child(4) {
		top: 500px;
		right: unset;
		left: -790px;
		opacity: 0.3;
	}
	.decorators-triangles__triangle--hero-right:nth-child(5) {
		top: 1910px;
		right: unset;
		left: -640px;
		opacity: 0.3;
	}
}

.skewed-bgs--bottom.skewed-bgs--bottom-faq {
	// max-height: 3200px;
	max-height: 2800px;
	// max-height: 2500px;

	.skewed-bgs__item--accent {
		top: 20px;
		// bottom: 2723px;
		transform: rotate(-19.8deg);
		height: 490px;
	}

	.skewed-bgs__item--grey {
		transform: rotate(-17.21deg);
    height: 550px;
    bottom: 2404px;
	}
}


.decorators-triangles-t3 {
	position: absolute;
	top: unset;
	bottom: 0;
	z-index: -1;
	overflow: visible;

	.decorators-triangles__triangle--filled {
		right: unset;
		width: 1600px;
		height: 1370px;
		left: -50px;
		top: unset;
		bottom: 552px;
		transform: scaleX(-1);
	}
	.decorators-triangles__triangle--bordered {
		width: 900px;
    height: 1000px;
    left: -330px;
    top: unset;
    bottom: 660px;
		opacity: 0.3;
	}
}

@media (max-width: 1700px) {
	.decorators-triangles-t3 .decorators-triangles__triangle--filled {
		left: -650px;
	}
}
@media (max-width: 1600px) {
	.skewed-bgs--bottom {
		top: 2860px;
	}
	.page-programm {
		.skewed-bgs--top {
			.skewed-bgs__item--white {
				top: 170px;
			}
			.skewed-bgs__item--accent {
				top: 170px;
			}
			.skewed-bgs__item--grey {
				top: 60px;
			}
		}
		.skewed-bgs--bottom.skewed-bgs--bottom-faq .skewed-bgs__item--accent {
			top: 30px;
		}
	}
}

@media (max-width: 1310px) {
	.skewed-bgs--bottom {
		top: 2590px;
	}
	.skewed-bgs--bottom.skewed-bgs--bottom-faq .skewed-bgs__item--accent {
		top: 30px
	}
	.skewed-bgs--bottom.skewed-bgs--bottom-faq .skewed-bgs__item--grey {
		height: 750px;
	}
}
@media (max-width: 1300px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	.decorators-triangles__triangle--hero-center {
		right: 100px;
	}
}

@media (max-width: 1100px) {
	.skewed-bgs--bottom {
		top: 2690px;
	}
	.decorators-triangles.decorators-triangles--edges {
		// display: none;
		z-index: 0;
		opacity: 0.3;
	}
	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right {
		width: 1100%;
	}
	.skewed-bgs--bottom.skewed-bgs--bottom-faq {
		top: 2760px;
	}
	.skewed-bgs--hero{
		.skewed-bgs__item {
			left: -40vw;
		}
	}

	.page-programm .skewed-bgs--top .skewed-bgs__item--white {
		top: 350px;
	}
	.page-programm .skewed-bgs--top .skewed-bgs__item--accent {
    top: 350px;
	}
	.page-programm .skewed-bgs--top .skewed-bgs__item--grey {
    top: 290px;
	}
}

@media (max-width: 992px) {
	.decorators-triangles-t3 {
		display: none;
	}
	.skewed-bgs--bottom {
		top: 1800px
	}
	.decorators-triangles__triangle--hero-center {
		right: -190px;
	}
	.skewed-bgs__item {
		width: 300vw;
		left: -30vw;
	}
	.skewed-bgs--bottom.skewed-bgs--bottom-faq {
    top: 3180px;
	}
	.conditions-table-row__heading {
		max-width: 194px;
	}
	.scroll-blocked {
		overflow: hidden;
	}
}

@media (max-width: 810px) {
	.skewed-bgs--bottom {
		top: 1900px
	}
}

@media (max-width: 768px) {
	.section__title {
		font-size: 24px;
	}
	.button {
		padding: 17px 33px;
	}
	.skewed-bgs__item {
		left: -40vw;
	}
	.skewed-bgs--bottom {
		top: 2100px;
	}
}
@media (max-width: 576px) {
	:root {
		--fz-regular: 14px;
	}
	.button {
		padding: 15px 20px;
		font-size: 16px;
	}

	.button__icon {
		width: 22px;
		height: 22px;
	}

	.has-pointer {
		&:before {
			width: 20px;
			height: 20px;
			left: 0;
			top: -0.05em;
		}
	}

	.decorators-triangles__triangle--hero-left {
		top: 60px;
    right: -85px;
    width: 330px;
    height: 330px;
	}

	.decorators-triangles__triangle--hero-right {
		top: 595px;
    right: unset;
    width: 500px;
    height: 500px;
    left: -175px;
	}

	.decorators-triangles__triangle--hero-center {
		right: -60px;
    width: 250px;
    height: 250px;
	}

	.skewed-bgs__item {
		left: -60vw;
	}
	.skewed-bgs--top {
		.skewed-bgs__item--accent {
			top: 900px;
			top: 1125px;
			height: 865px;
		}

		.skewed-bgs__item--grey {
			top: 1100px;
			height: 880px;
		}
	}

	.skewed-bgs--bottom {
		z-index: 1;
		bottom: unset;
		top: 2630px;

		.skewed-bgs__item--accent {
			bottom: 1325px;
			height: 1010px;
		}

		.skewed-bgs__item--grey {
			bottom: 1820px;
		}

	}

	.decorators-triangles-t2 {
		z-index: 2;

		.decorators-triangles__triangle--filled {
			stroke: #fff;
			stroke-width: 3;

			path {
				fill: none;
			}
		}
		.decorators-triangles__triangle--bordered {
			width: 500px;
			left: 0;
			height: 500px;
			top: -10px;
		}

		.decorators-triangles__triangle--bordered {
			width: 230px;
			left: unset;
			height: 230px;
			top: -10px;
			right: -20px;
		}
		.decorators-triangles__triangle--articles-1 {
			width: 470px;
			height: 470px;
			top: 890px;
			right: -147px;
			opacity: 0.3;
		}
		.decorators-triangles__triangle--articles-2 {
			width: 340px;
			height: 340px;
			top: 1230px;
			right: 0px;
			opacity: 0.3;

			path {
				stroke: #ffffff;
			}
		}
		.decorators-triangles__triangle--articles-3 {
			width: 180px;
			height: 180px;
			top: 1465px;
			right: 37px;
			opacity: 0.3;

			path {
				stroke: #ffffff;
				stroke-width: 4;
			}
		}
	}

	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right {
		width: 300px;
		height: 400px;
		top: -60px;
		left: unset;
		right: -130px;
	}
	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right:nth-child(2) {
    width: 330px;
    height: 450px;
    top: 0;
    left: -84px;
    right: unset;
	}

	.page-programm .decorators-triangles__triangle--hero-left {
		right: unset;
    left: 0;
    width: 460px;
    height: 450px;
    top: 220px;
		opacity: 0.5;

	}

	.button {
		width: 100%;
	}

	.page-programm {
		.skewed-bgs--top .skewed-bgs__item--grey {
			top: 645px;
			height: 328px;
		}
		.skewed-bgs--top .skewed-bgs__item--accent {
			top: 640px;
			height: 320px;
		}
		.skewed-bgs--top .skewed-bgs__item--white {
			top: 630px;
			height: 300px;
		}
		.bg-header {
			height: 111vh;
		}
		.skewed-bgs--bottom {
			bottom: unset;
			top: 1640px;
		}
		.skewed-bgs--bottom.skewed-bgs--bottom-faq {
			.skewed-bgs__item--accent {
				bottom: unset;
				top: 290px
			}
			.skewed-bgs__item--grey {
				bottom: unset;
				top: 310px;
				height: 740px;
			}
		}
	}

	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right:nth-child(3) {
		top: 2160px;
    right: 0;
    width: 250px;
	}
	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right:nth-child(4) {
		top: 1650px;
    right: -210px;
    width: 550px;
    left: unset;
    opacity: 1;
    height: 270px;
	}
	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right:nth-child(5) {
    top: 1980px;
    right: -270px;
    width: 650px;
    left: unset;
    opacity: 1;
    height: 530px;
		opacity: 0.3;

		path {
			stroke: #ffffff;
		}
	}

	.page-programm {
		.skewed-bgs--bottom.skewed-bgs--bottom-mobile {
			display: block;
			top: 3650px;

			.skewed-bgs__item--accent {
				transform: rotate(-16.08deg);
			}
			.skewed-bgs__item--grey {
				top: 320px;
				height: 1000px;
				transform: rotate(-19.8deg);
			}
		}
	}
	.skewed-bgs--top .skewed-bgs__item--grey {
		top: 1030px;
	}
	.skewed-bgs--top .skewed-bgs__item--accent {
		top: 1055px;
		height: 785px;
	}

	.page-programm {
		.skewed-bgs--top {
			.skewed-bgs__item--white {
				top: 515px;
			}
			.skewed-bgs__item--accent {
				top: 511px;
				transform: rotate(-16.08deg)
			}
			.skewed-bgs__item--grey {
				height: 348px;
				top: 502px;
				transform: rotate(-19.8deg)
			}
		}
	}

	.page-programm {
		.skewed-bgs--bottom.skewed-bgs--bottom-faq {
			top: 1690px;
			.skewed-bgs__item--accent {
				transform: rotate(-19.8deg);
			}
			.skewed-bgs__item--grey {
				transform: rotate(-17.21deg);
			}
		}
	}

}

@media (max-width: 991px) and (min-width: 768px) {
	.decorators-triangles-t2 {
		display: none;
	}
	.decorators-triangles__triangle--hero-center {
		right: -100px;
	}
}


@media(max-width: 380px) {
	.page-programm {
		.skewed-bgs--top {
			.skewed-bgs__item--white {
				top: 586px;
			}
			.skewed-bgs__item--accent {
				top: 650px;
				transform: rotate(-16.08deg)
			}
			.skewed-bgs__item--grey {
				height: 348px;
				top: 665px;
				transform: rotate(-19.8deg)
			}
		}
	}
	.page-programm .skewed-bgs--bottom.skewed-bgs--bottom-faq {
    top: 1780px;
	}
}
@media(max-width: 375px) {
	.page-programm .skewed-bgs--bottom.skewed-bgs--bottom-faq {
    top: 1840px;
	}
	.page-programm .skewed-bgs--top .skewed-bgs__item--accent {
		top: 583px;
	}
	.page-programm .skewed-bgs--top .skewed-bgs__item--grey {
		top: 575px
	}
}
@media(max-width: 374px) {
	.buttons-set .button {
		margin-bottom: 10px;
		width: 100%;
		margin-right: 0;
	}

	.button__icon,
	.button__text {
		margin-bottom: 0;
	}


	.skewed-bgs--top {
		.skewed-bgs__item--accent {
			left: -100vw;
			height: 880px;
		}

		.skewed-bgs__item--grey {
			height: 910px;
			left: -100vw;
		}
	}
	.skewed-bgs--bottom {
    top: 2690px;
	}
	.page-programm .skewed-bgs--bottom.skewed-bgs--bottom-mobile {
		top: 3890px;
	}
	.page-programm .skewed-bgs--bottom.skewed-bgs--bottom-faq {
    top: 1960px;
	}
}

@media (min-width: 992px) {
	.decorators-triangles.decorators-triangles--edges .decorators-triangles__triangle--hero-right:nth-child(3) {
		display: none;
	}
}

@media (min-width: 1600px) {
	.decorators-triangles__triangle--hero-left,
	.decorators-triangles__triangle--hero-right {
		path {
			stroke-width: 2
		}
	}
	.decorators-triangles__triangle--hero-left-bottom {
		display: block;
		width: 500px;
		height: 500px;
		top: 1080px;
		left: -270px;
		path {
			stroke-width: 6;
		}
	}
}

@import "blocks/header";
@import "blocks/hero";
@import "blocks/interrupter";
@import "blocks/about";
@import "blocks/services";
@import "blocks/help";
@import "blocks/articles";
@import "blocks/newsletter";
@import "blocks/footer";

@import "blocks/headliner";
@import "blocks/explainer";
@import "blocks/bullets";
@import "blocks/steps";
@import "blocks/programms";
@import "blocks/conditions";
@import "blocks/faq";
@import "blocks/backgrounds";
