@font-face {
  src: url("../fonts/Gerbera-Light.woff2") format("woff2"), url("../fonts/Gerbera-Light.woff") format("woff");
  font-family: "Gerbera";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Gerbera-Regular.woff2") format("woff2"), url("../fonts/Gerbera-Regular.woff") format("woff");
  font-family: "Gerbera";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Gerbera-Bold.woff2") format("woff2"), url("../fonts/Gerbera-Bold.woff") format("woff");
  font-family: "Gerbera";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Gerbera-Black.woff2") format("woff2"), url("../fonts/Gerbera-Black.woff") format("woff");
  font-family: "Gerbera";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-primary: #d3d726;
  --c-primary--hover: #e9ed24;
  --c-secondary: #50287d;
  --c-secondary-darker: #4a2c78;
  --c-ghost: #c5d0e0;
  --c-text-regular: #111827;
  --c-text-second: #6c7a96;
  --c-bg-secondary: #f0f2f7;
  --c-border-input: #e1e6f0;
  --fz-h1: 68px;
  --fz-h2: 36px;
  --fz-h3: 24px;
  --fz-h3-card: 22px;
  --fz-h4: 18px;
  --fz-regular: 16px;
  --fz-subtitle: 32px;
  --z-dropdown: 10;
  --z-tooltip: 20;
  --z-sticky-header: 90;
  --z-popup: 100;
  --z-burger-button: 50;
  --z-burger: 110;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
}

a,
button {
  cursor: pointer;
}

input,
button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-weight: 600;
  font-size: var(--fz-h1);
  line-height: 1.11;
}

h2 {
  font-size: var(--fz-h2);
  line-height: 1.11;
}

h3 {
  font-size: var(--fz-h3);
  line-height: 1.11;
}

h4 {
  font-size: var(--fz-h4);
  line-height: 1.11;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Gerbera", "Arial", "Helvetica", sans-serif;
  font-size: var(--fz-regular);
  color: var(--c-text-regular);
  line-height: 1.5;
}

.form-privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.form-privacy__checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  background-color: #828282;
  cursor: pointer;
}

.form-privacy__checkbox::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.form-privacy__checkbox-hidden:checked + .form-privacy__checkbox {
  background-image: url("../img/form/form-check.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.container {
  padding: 0 calc(100% - (50% + 640px));
  margin-left: auto;
  margin-right: auto;
}

.has-pointer {
  position: relative;
}

.has-pointer::before {
  content: "";
  position: absolute;
  left: -2.3em;
  top: -0.25em;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/styling/triangle-pointer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section__title {
  font-size: var(--fz-h2);
  margin-bottom: 68px;
}

.buttons-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-set :not(.button:last-child) {
  margin-right: 12px;
}

.button {
  --fz-button: var(var(--fz-regular));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: var(--fz-button);
  line-height: 1.5;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.button--primary {
  border: 1px solid var(--c-primary);
  background-color: var(--c-primary);
}

.button--primary:focus,
.button--primary:hover {
  border: 1px solid var(--c-primary--hover);
  background-color: var(--c-primary--hover);
}

.button--secondary {
  border: 1px solid var(--c-ghost);
  background-color: transparent;
}

.button--secondary:focus,
.button--secondary:hover {
  background-color: var(--c-ghost);
}

.button__icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 12px;
}

.button__text {
  margin-bottom: 2px;
}

.input__wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--c-border-input);
  border-radius: 6px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.input__name {
  font-size: 12px;
  color: #95a3ba;
  margin-bottom: 2px;
  line-height: 1;
  font-weight: 400;
}

.input-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-icons__button:not(:last-child) {
  margin-right: 6px;
}

.input__field {
  width: 100%;
  margin-right: 12px;
  pointer-events: none;
}

.input {
  width: 100%;
}

.input-dropdown {
  position: absolute;
  top: 54px;
  left: -1px;
  width: calc(100% + 2px);
  background-color: #fff;
  border: 1px solid var(--c-border-input);
  border-top: none;
  border-radius: 0 0 6px 6px;
  display: none;
}

.input-dropdown.shown {
  display: block;
}

.input-dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.input-dropdown-list-item {
  text-align: left;
  line-height: 1.7;
}

.input-dropdown-list-item:hover {
  color: var(--c-primary);
}

.input--dropdown:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/icon-dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding-top: 183px;
  background-color: var(--c-bg-secondary);
  position: relative;
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-offer {
  position: relative;
  z-index: 2;
  max-width: 623px;
}

.hero-offer__title {
  margin-bottom: 36px;
}

.hero-img {
  width: 100%;
}

.hero-img__wrap {
  margin-left: -50px;
  max-width: 994px;
  min-width: 286px;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero__buttons-set {
  margin-bottom: 124px;
}

.hero-clients {
  margin-bottom: 80px;
  font-size: var(--fz-h3-card);
}

.text--curve-underline {
  color: var(--c-secondary);
  position: relative;
  font-weight: 600;
}

.text--curve-underline::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-image: url("../img/styling/curve-underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interrupter {
  background-color: var(--c-bg-secondary);
  padding-top: 100px;
  padding-bottom: 90px;
}

.interrupter__inner {
  padding-left: 60px;
}

.interrupter__title {
  font-size: var(--fz-h3);
  color: var(--c-text-second);
  margin-bottom: 16px;
  text-transform: uppercase;
}

.interrupter__slogan {
  font-size: 32px;
}

.about__inner {
  padding-top: 80px;
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

.about-row--img-first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-row--img-last .about-row__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about-row--only-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 140px;
}

.about-row--only-text .about-row-desc {
  max-width: 509px;
}

.about-row__img {
  max-width: 417px;
}

.about-row-desc {
  max-width: 50%;
  min-width: 280px;
}

.about-row-desc__subject {
  font-size: var(--fz-h3);
  color: var(--c-text-second);
  margin-bottom: 16px;
  text-transform: uppercase;
}

.about-row-desc__title {
  font-size: var(--fz-h2);
  margin-bottom: 24px;
  font-weight: 600;
}

.about-row-desc__caption {
  font-size: var(--fz-h4);
  margin-bottom: 10px;
  font-weight: 600;
}

.about-row-desc__text {
  color: #4c5d75;
}

.services {
  margin-top: -70px;
  margin-bottom: 20px;
}

.services-list-card {
  max-width: 410px;
  min-width: 280px;
  width: 100%;
  background-color: var(--c-secondary-darker);
  margin-bottom: 20px;
  color: #fff;
  padding: 42px 45px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.services-list-card__inner {
  height: calc(100%);
  position: relative;
}

.services-list-card--gutter {
  width: 20px;
}

.services-list-card--1-per-column {
  height: calc(100%);
  height: 1123px;
}

.services-list-card--2-per-column {
  height: calc(100%);
  height: 551px;
}

.services-list-card--3-per-column {
  height: calc(100%);
  height: 361px;
}

.services-list-card__title {
  font-size: var(--fz-h3-card);
  margin-bottom: 12px;
}

.services-list-card__desc {
  color: #e1e6f0;
  margin-bottom: 32px;
}

.services-list-card--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc(100%);
  pointer-events: none;
}

.services-list-card--back {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.services-list-card.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #4c5d75;
}

.services-list-card.flipped .services-list-card--front {
  position: absolute;
  opacity: 0;
}

.services-list-card.flipped .services-list-card--back {
  position: static;
  opacity: 1;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.help__wrap {
  padding-left: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__title {
  margin-bottom: 16px;
}

.help__title::before {
  top: 0;
}

.help__desc {
  color: #4c5d75;
  margin-bottom: 24px;
}

.help-imgs {
  max-width: 343px;
  width: 100%x;
}

.help-imgs__img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */