@font-face {
	src:
		url("../fonts/Gerbera-Light.woff2") format("woff2"),
		url("../fonts/Gerbera-Light.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Regular.woff2") format("woff2"),
		url("../fonts/Gerbera-Regular.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Bold.woff2") format("woff2"),
		url("../fonts/Gerbera-Bold.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url("../fonts/Gerbera-Black.woff2") format("woff2"),
		url("../fonts/Gerbera-Black.woff") format("woff");
	font-family: "Gerbera";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
:root {
	--c-primary: #d3d726;
	--c-primary--hover: #e9ed24;
	--c-secondary: #50287d;
	--c-secondary-darker: #4a2c78;
	--c-ghost: #c5d0e0;
	--c-text-regular: #111827;
	--c-text-second: #6c7a96;
	--c-bg-secondary: #f0f2f7;
	--c-border-input: #e1e6f0;
	--fz-h1: 68px;
	--fz-h2: 36px;
	--fz-h3: 24px;
	--fz-h3-card: 22px;
	--fz-h4: 18px;
	--fz-regular: 16px;
	--fz-subtitle: 32px;
	--z-dropdown: 10;
	--z-tooltip: 20;
	--z-sticky-header: 90;
	--z-popup: 100;
	--z-burger-button: 50;
	--z-burger: 110;
}

@mixin transition-mix(
	$property: all,
	$duration: 0.2s,
	$timing: linear,
	$delay: 0s
) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}
* {
	outline: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
.hidden {
	visibility: hidden;
}
a,
button {
	cursor: pointer;
}
input,
button {
	display: inline-block;
	border: none;
	padding: 0;
	background: none;
}
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 500;
}
h1 {
	font-weight: 600;
	font-size: var(--fz-h1);
	line-height: 1.11;
}
h2 {
	font-size: var(--fz-h2);
	line-height: 1.11;
}
h3 {
	font-size: var(--fz-h3);
	line-height: 1.11;
}
h4 {
	font-size: var(--fz-h4);
	line-height: 1.11;
}
ul,
ol {
	list-style: none;
}
body {
	font-family: "Gerbera", "Arial", "Helvetica", sans-serif;
	font-size: var(--fz-regular);
	color: var(--c-text-regular);
	line-height: 1.5;
}
.form-privacy {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	&__checkbox {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		border-radius: 2px;
		width: 15px;
		height: 15px;
		background-color: rgb(130, 130, 130);
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			border-radius: 50%;
			width: 4px;
			height: 4px;
		}
	}
}
.form-privacy__checkbox-hidden:checked + .form-privacy__checkbox {
	background-image: url("../img/form/form-check.svg");
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}
.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.container {
	padding: 0 calc(100% - (50% + 640px));
	margin-left: auto;
	margin-right: auto;
}

.has-pointer {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: -2.3em;
    top: -0.25em;
		display: block;
		width: 40px;
		height: 40px;
		background-image: url("../img/styling/triangle-pointer.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.section__title {
	font-size: var(--fz-h2);
	margin-bottom: 68px;
}

// _CONTROLS
.buttons-set {
	display: flex;
	align-items: center;
	:not(.button:last-child) {
		margin-right: 12px;
	}
}
.button {
	--fz-button: var(var(--fz-regular));

	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	padding: 16px 24px;
	font-weight: 600;
	font-size: var(--fz-button);
	line-height: 1.5;
	transition: 0.3s all ease-out;
}
.button--primary {
	border: 1px solid var(--c-primary);
	background-color: var(--c-primary);
}
.button--primary:focus,
.button--primary:hover {
	border: 1px solid var(--c-primary--hover);
	background-color: var(--c-primary--hover);
}
.button--secondary {
	border: 1px solid var(--c-ghost);
	background-color: transparent;
}
.button--secondary:focus,
.button--secondary:hover {
	background-color: var(--c-ghost);
}
.button__icon {
	width: 24px;
	height: 24px;
	display: block;
	margin-right: 12px;
}
.button__text {
	margin-bottom: 2px;
}

.input__wrapper {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--c-border-input);
	border-radius: 6px;
	margin-bottom: 16px;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-left: 20px;
	position: relative;
	cursor: pointer;
}
.input__name {
	font-size: 12px;
	color: #95a3ba;
	margin-bottom: 2px;
	line-height: 1;
	font-weight: 400;
}
.input-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center
}
.input-icons__button:not(:last-child) {
	margin-right: 6px;
}
.input__field {
	width: 100%;
	margin-right: 12px;
	pointer-events: none;
}
.input {
	width: 100%;
}

.input-dropdown {
	position: absolute;
	top: 54px;
	left: -1px;
	width: calc(100% + 2px);
	background-color: #fff;
	border: 1px solid var(--c-border-input);
	border-top: none;
	border-radius: 0 0 6px 6px;
	display: none;
}
.input-dropdown.shown {
	display: block;
}

.input-dropdown-list {
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.input-dropdown-list-item {
	text-align: left;
	line-height: 1.7;
}

.input-dropdown-list-item:hover {
	color: var(--c-primary);
}

.input--dropdown:after {
	content: '';
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../img/icons/icon-dropdown.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@import "blocks/header";
@import "blocks/hero";
@import "blocks/interrupter";
@import "blocks/about";
@import "blocks/services";
@import "blocks/help";
@import "blocks/footer";
