.articles {
	// margin-bottom: 60px;
	position: relative;

	.link-more:hover {
		color: #fff;
		border-bottom-color: #fff;
	}
}

.articles__inner {
	display: grid;
  grid-template-columns: 0.7fr 1.2fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 100px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "title articles articles"
    "about articles articles"
    "about articles articles";
}

.articles-heading {
	grid-area: title;
}
.articles-list__wrapper {
	grid-area: articles;
}
.articles-about {
	grid-area: about;
}

.articles__title {
	margin-bottom: 34px;
}
.articles__desc {
	margin-bottom: 23px;
}

.articles-list-article {
	max-width: 452px;
	min-width: 280px;
	width: 48%;
	margin-bottom: 80px;
}
.articles-list-article--gutter {
	width: 40px;
}

.articles-list-article-tags {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.articles-list-article-tags__tag {
	display: inline-block;
	// padding: 4px 8px;
	padding: 4px;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.03em;
	background-color: #F0F2F7;
	margin-bottom: 8px;
	text-transform: uppercase;
	line-height: 15px;
}

.articles-list-article-tags__tag:not(:last-child) {
	margin-right: 8px;
}

.articles-list-article__title {
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 1.5;
	transition: all 0.3s ease;
}
.articles-list-article__title:hover {
	color: #fff;
}

.articles-list-article__desc {
	line-height: 1.7;
	margin-bottom: 16px;
	font-weight: 400;
}

.articles-list-article-meta {
	border-top: 1px solid var(--c-text-p);
	padding-top: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}
.articles-list-article-meta__readtime {
	position: relative;
	display: flex;
	align-items: center;

	&:before {
		content: '';
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		background-color: var(--c-text-p);
		margin-right: 8px;
	}
}


.articles-list-article-media {
	position: relative;
	margin-bottom: 24px;
}

.aritlces-list-article-media__video {
	display: none;
}

.articles-list-article-media__link {
	display: block;
	width: 100%;
	height: 100%;
}

.articles-list-article-media__thumb {
	display: block;
	width: 100%;
	height: calc(100%);
}

.articles-list-article-media__play {
	width: 100%;
	height: calc(100%);
	font-size: 0;
	background-image: url("../img/icons/play.svg");
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s;
}

.articles-list-article-media__play:hover {
	background-size: 90px;
}

.articles-about__title {
	font-size: 20px;
	margin-bottom: 36px;
}

.articles-about-list-card {
	padding-left: 36px;
	// margin-bottom: 32px;
	margin-bottom: 28px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		background-color: var(--c-text-p);
		margin-right: 8px;
	}
}

.articles-about-list-card__link {
	font-size: 16px;
	color: var(--c-text-regular);
	margin-bottom: 8px;
	display: block;
	line-height: 1.4;
	font-weight: 400;
	transition: 0.3s all ease;
}
.articles-about-list-card__link:hover {
	color: #fff;
}

.articles-about__more {
	margin-left: 36px;
}

.decorators-triangles__triangle--articles-left {
	position: absolute;
	z-index: -1;
	width: 1600px;
	height: 1600px;
	left: -120px;
	top: -20px;
	opacity: 0.3;
}


@media (max-width: 1300px) {
	.articles__inner {
		gap: 80px 35px
	}
	.articles-list-article {
		max-width: 280px;
	}
	.articles-list-article {
		max-width: 400px;
	}
	.articles-list-article--gutter {
		width: 40px;
	}
}


@media (max-width: 1100px) {
	.articles-list-article {
		max-width: 330px;
	}
}

@media (max-width: 991px) {
	.articles-list-article {
		max-width: 100%;
		width: 100%;
		margin-bottom: 45px;
	}

	.articles-about-list-card {
		padding-left: 26px;
	}

	.articles-about-list-card:before {
		width: 18px;
		height: 18px;
	}

	.articles__inner {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 0;
	}

	.articles-heading {
		margin-bottom: 40px;
	}

	.articles-list__wrapper {
		margin-bottom: 70px;
		max-width: 100%;
		overflow: visible;

		.swiper-pagination-bullet {
			opacity: 1;
			background: #4c5d75;
		}
		.swiper-pagination-bullet-active {
			background: #fff;
		}
	}

	.articles-about {
		order: 3
	}

	.articles-about__title{
		margin-bottom: 30px;
	}
	.articles-about-list-card__link {
		font-size: 14px;
	}
	.articles-list-article {
		max-width: initial;
		width: auto;
	}
	.articles-list-article--gutter {
		display: none;
	}
	.articles-list__wrapper .articles-slider__pagination {
		width: auto;
		// bottom: -30px;
		position: static;
    display: inline-block;
    padding-top: 20px;
	}
	.articles {
		margin-bottom: 30px;
	}
	.decorators-triangles__triangle--articles-left {
		height: 290px;
		width: 290px;
		top: unset;
		bottom: -155px;
		left: -41px;
	}
}

@media (max-width: 576px) {
	.articles {
		margin-bottom: 20px;
	}
	.articles__title {
		margin-bottom: 29px;
	}
	.articles-list-article-tags__tag {
		padding: 4px 8px;
	}
	.container--article {
		padding-right: 12px;
	}
	.articles-list-article__title {
		margin-bottom: 19px;
	}
	.articles-list-article__desc {
		line-height: 1.6;
	}

	.articles-list-article-meta {
		padding-top: 12px;
	}
	.time__published {
		font-size: 15px;
	}
	.articles-about__title {
		margin-bottom: 37px;
	}
	.articles-about-list-card {
		padding-left: 35px;
	}
	.articles-about-list-card:before {
		width: 24px;
		height: 24px;
	}
	.articles-about-list-card {
		margin-bottom: 35px;
	}
}

@media (min-width: 992px) {
	.articles-slider__pagination {
		display: none;
	}
}
