.bullets {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 60px;
	padding-top: 35px;
	padding-bottom: 70px;
}


.bullets-card__badge {
	background-color: #c5d0e0;
	height: 87px;
	max-width: 87px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 34px;
}

.bullets-card__title {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 12px;
}

.bullets-card__desc {
	line-height: 1.65;
}

@media (max-width: 1300px) {
	.bullets {
		padding-bottom: 35px;
	}
}

@media (max-width: 992px) {
	.bullets {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 767px) {
	.bullets {
		padding-top: 0;
	}
	.bullets-card__desc {
		font-size: 16px;
	}
}

@media (max-width: 576px) {
	.bullets {
		display: block;
		padding-bottom: 0;
	}
	.bullets-card {
		margin-bottom: 30px;
	}
}
