.explainer {
	margin-bottom: 65px;
}

.explainer__title {
	margin-bottom: 24px;
}

.explainer-tldr {
	display: flex;
	justify-content: space-between;
}
.explainer-tldr__desc {
	max-width: 561px;
}

.explainer-tldr__desc--big {
	max-width: 610px;
	font-size: 22px;
	color: var(--c-text-regular);
}
