.explainer {
	margin-bottom: 30px;
	padding-top: 65px;
}

.explainer__title {
	margin-bottom: 30px;
}

.explainer-tldr {
	display: flex;
	justify-content: space-between;
}
.explainer-tldr__desc {
	max-width: 561px;
	line-height: 1.6;
}

.explainer-tldr__desc--big {
	max-width: 610px;
	font-size: 22px;
	color: var(--c-text-regular);
}
