.faq {
	padding-top: 34px;
	margin-bottom: 80px;
	position: relative;

}

.container--faq {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.faq__title {
	margin-bottom: 32px;
}

.faq-cards-card {
	margin-bottom: 16px;
	overflow: hidden;
}
.faq-cards-card-question {
	display: flex;
	justify-content: space-between;
	padding: 32px 37px;
	background-color: #f7f8fc;
	position: relative;
	cursor: pointer;
}

.faq-cards-card-question__title {
	font-size: 18px;
	max-width: calc(100% - 70px);
	width: 100%;
	pointer-events: none;
}
.faq-cards-card-question__closer {
	font-weight: 400;
	font-size: 54px;
	line-height: 0.3;
	position: absolute;
	top: 45%;
	right: 36px;
	line-height: 0.3;
	transition: 0.3s all;
	transform: translateY(-50%);
	transform-origin: center center;
	pointer-events: none;
	color: #50287D;
	font-family: initial;
}
.opened .faq-cards-card-question__closer {
	transform: translateY(-50%) rotate(45deg);
}

.faq-cards-card-answer {
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	background-color: #f7f8fc;
	transition: 0.4s all;
}



.faq-headliner {
	min-width: 335px;
}
.faq-cards {
	max-width: 865px;
}

@media (max-width: 1300px) {
	.faq-cards {
		max-width: 765px;
	}
}

@media (max-width: 1199px) {
	.container--faq {
		flex-direction: column;
	}

	.faq-cards {
		max-width: 100%;
	}

	.faq-headliner {
		display: flex;
		align-items: center;
	}

	.faq__title {
		margin-right: 30px;
	}
}

@media (max-width: 768px) {
	.faq {
		margin-bottom: 40px;
	}
	.buttons__container--right {
		justify-content: flex-start;
		padding-right: 0;
		padding-left: 0;
	}
	.faq-headliner {
		display: block;
		margin-bottom: 34px;
	}
	.faq-cards-card-question__closer {
		top: 50%;
    right: 16px;
		font-size: 44px;
	}
}

@media (max-width: 576px) {
	.faq__button {
		max-width: 100%;
		width: 100%;
	}

	.faq-cards-card-question {
		padding: 24px 25px;
	}
	.faq-cards-card-question__title {
		font-size: 14px;
		max-width: calc(100% - 40px);
	}
}
