.header {
	z-index: calc(var(--z-popup) - 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: transparent;
	transition: all 0.3s ease;
}
.header.scrolled {
	background-color: #fff;
}

.container--header {
	display: flex;
	align-items: center;
}
.header__phone {
	margin-left: auto;
	font-weight: 600;
	color: var(--c-text-regular);

	&:hover {
		color: var(--c-secondary);
	}
}

.header-branding {
	display: inline-flex;
	align-items: center;
	margin-right: 75px;
}
.header-branding-logo {
	display: inline-flex;
	justify-content: center;
}
.header-branding-logo:not(:first-child) {
	margin-left: 60px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 1px;
		height: calc(100%);
		background-color: #c4c4c4;
	}
}
.header-branding-logo:last-child {
	// margin-bottom: 9px;
	margin-bottom: 5px;
}

.header-nav {
	max-width: 200px;
	width: 100%;
}
.header-nav-dropdown {
	position: relative;
}

.header-nav-dropdown__name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	&::after {
		content: '';
		// position: absolute;
		// right: 0;
		// top: 50%;
		// transform: translateY(-50%);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icons/icon-dropdown.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 10px;
	}
	&:hover {
		color: var(--c-primary);
	}

}
.header-nav-dropdown-links {
	// display: none;
	pointer-events: none;
	background-color: #fff;
	padding: 14px 15px;
	position: absolute;
	top: 200%;
	opacity: 0;
	transition: all 0.6s;
  transform: translate(0, -100%);
	pointer-events: none;
	visibility: hidden;

// 	&:hover {
// 		display: block;
// 	}
}

.header-nav-dropdown.opened {
	.header-nav-dropdown-links {
		display: block;
		visibility: visible;
		opacity: 1;
		transform: translate(0, 0);
		pointer-events: auto;
	}
}
// .header-nav-dropdown:hover .header-nav-dropdown-links {
// 	display: block;
// }

.header-nav-dropdown-links-item__link {
	display: block;
	line-height: 1.2;
	margin-bottom: 20px;
	&:hover {
		color: var(--c-primary)
	}
}

.header-nav-dropdown-links-item:last-child {
	.header-nav-dropdown-links-item__link {
		margin-bottom: 0;
	}
}
.header-burger {
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 15px;
}

.header-burger__line {
	width: 100%;
	height: 3px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #4a2472;
	transition: all 0.3s;

	&:nth-child(1) {
		transform: translateY(-5px);
	}
	&:nth-child(2) {

	}
	&:nth-child(3) {
		transform: translateY(5px);
	}
}

@media (max-width: 991px) {
	.header {
		padding: 0;
	}
	.container--header {
		transition: all 0.5s;
		background-color: transparent;
	}
	.header-branding-logo:not(:first-child) {
		margin-left: 30px;
	}
	.header-branding-logo:not(:first-child)::before {
		left: -15px;
	}
	.header-nav-dropdown {
		overflow: hidden;
	}

	.container--header {
		.header__menu {
			transform: translateY(-200vw);
			background-color: #fff;
			transition: all 0.5s;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	.container--header.opened {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(1vh * 100);
		z-index: var(--z-burger);
		flex-direction: column;
		transition: all 0.5s;

		.header__menu {
			width: 100%;
			height: calc(100%);
		}
		.header-branding {
			background-color: #fff;
		}
	}

	.header-branding {
		padding-top: 16px;
		padding-bottom: 16px;
		max-width: 100%;
		width: 100%;
		margin: 0;
	}

	.header-branding-logo {
		height: 12px;
	}

	.header-branding-logo:last-child {
		margin-bottom: 0;
	}

	.header__menu {
		bottom: 0;
		left: 0;
		padding-top: 80px;
		position: absolute;
		width: 100%;
		height: calc(100%);
		flex-direction: column;
		justify-content: space-between;
		transform: translateY(-100vh);
		transition: all 0.5s  2s ease-in;
		padding-bottom: 30px;
	}
	.header-nav {
		max-width: 100%;
	}
	.header-nav-dropdown__name {
		color: var(--c-secondary);
		transition: all 0.3s ease;
	}

	.container--header.opened {
		.header__menu {
			display: flex;
			transform: translateY(0);
		}
		.header-burger {
			z-index: 1;
		}
		.header-branding {
			transition: all 0;
			border-bottom: 1px solid #c4c4c4;
			margin-bottom: 36px;
			z-index: 1;
		}
		.header-burger__line:nth-child(1) {
			transform: translateY(0) rotate(45deg);
		}
		.header-burger__line:nth-child(2) {
			background-color: transparent;
		}
		.header-burger__line:nth-child(3) {
			transform: translateY(0) rotate(-45deg);
		}

	}


	.header-nav-dropdown-links {
		display: block;
		position: static;
	}
	.header-nav-dropdown__name::after {
		background: none;
	}
	.header-nav-dropdown-links {
		background: transparent;
	}

	.header__phone {
		padding-top: 23px;
		padding-bottom: 23px;
		border-top: 1px solid #c4c4c4;
		width: 100%;
		margin-left: 0;
		font-size: 18px;
		padding-left: 24px;
		padding-right: 24px;
	}

	.header-burger {
		display: block;
	}
	.header-nav-dropdown__name {
		font-weight: 500;
	}
}

@media (max-width: 576px) {
	.header-nav-dropdown-links {
		padding-top: 25px;
	}
}

@media (min-width: 992px) {
	.header__menu {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 1100px) {
	.header-nav-dropdown-links {
		max-width: 410px;
    width: 205%;
	}
}
