.help {
	margin-bottom: 35px;
}
.help__wrap {
	max-width: 1180px;
	padding-left: 70px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.help__inner {
	padding-top: 70px;
}

.help__title {
	margin-bottom: 24px;
}

.help__title::before {
	top: 0;
	left: -2em;
}

.help__desc {
	color: #4c5d75;
	margin-bottom: 24px;
}

.help-imgs {
	max-width: 310px;
	width: 100%x;
	position: relative;
	.decorators-triangles__triangle--bordered {
		width: 520px;
    top: -175px;
    right: -235px;
		z-index: -1;
	}
}
.help-imgs__img {
	width: 100%;
}


@media (max-width: 576px) {
	.help {
		padding-top: 40px;
	}
	.help__wrap {
		flex-direction: column-reverse;
		align-items: center;
		padding-left: 0;
	}

	.help-imgs {
		max-width: 217px;

		.decorators-triangles__triangle--bordered {
			width: 260px;
			height: 260px;
			right: unset;
			left: -70px;
			top: -20px;
			opacity: 1;

			path {
				stroke: var(--c-primary);
				stroke-width: 5;
			}
		}
	}

	.help__title {
		font-weight: 400;
		line-height: 1.5;
		font-size: 24px;
		margin-bottom: 16px;

		&::before {
			top: 0.4em;
			left: -1.2em;
		}
	}

	.help__inner {
		padding-top: 10px;
		padding-left: 37px;
		padding-right: 37px;
		margin-bottom: 30px;
	}

	.help__desc {
		font-size: 16px;
	}

	.help__button {
		width: 100%;
	}


}
