.help {
	margin-bottom: 35px;
}
.help__wrap {
	max-width: 1180px;
	padding-left: 70px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.help__inner {
	padding-top: 70px;
}

.help__title {
	font-size: 32px;
	margin-bottom: 24px;
	font-weight: 400;
}

.help__title::before {
	top: 0;
	left: -2em;
}

.help__desc {
	color: #4c5d75;
	margin-bottom: 24px;
}

.help-imgs {
	max-width: 310px;
	width: 100%x;
	position: relative;
	.decorators-triangles__triangle--bordered {
		width: 520px;
    top: -175px;
    right: -235px;
		z-index: -1;
	}
	&:after,
	&:before {
		content: "";
		display: block;
		width: 20%;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		animation: loop-translate-x 6s infinite alternate;
		z-index: 2;
	}
	&:before {
		background-image: url(../img/help/cloud-left.svg);
		top: 54%;
    left: 20px;
    width: 26%;
	}
	&:after {
		width: 17%;
		height: 30px;
		top: 25%;
		right: 0;
		background-image: url(../img/help/cloud-right.svg);
	}
}
.help-imgs__img {
	width: 100%;
}
.help-imgs__img--hand {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	z-index: 1;
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.3s 0.3s;
}
.help-imgs__img--hand.animated {
	transform: translateY(0);
	opacity: 1;
}
.help-imgs__img--bg {
	margin-top: 20px;
}


@media (max-width: 576px) {
	.help {
		padding-top: 60px;
	}
	.help__wrap {
		flex-direction: column-reverse;
		align-items: center;
		padding-left: 0;
	}

	.help-imgs {
		max-width: 217px;

		.decorators-triangles__triangle--bordered {
			width: 260px;
			height: 260px;
			right: unset;
			left: -70px;
			top: -20px;
			opacity: 1;

			path {
				stroke: var(--c-primary);
				stroke-width: 5;
			}
		}
	}

	.help__title {
		font-weight: 400;
		line-height: 1.5;
		font-size: 24px;
		margin-bottom: 16px;

		&::before {
			top: 0.4em;
			left: -1.2em;
		}
	}

	.help__inner {
		padding-top: 13px;
    padding-left: 29px;
    padding-right: 30px;
    margin-bottom: 30px;
	}

	.help__desc {
		font-size: 16px;
		line-height: 1.65;
	}

	.help__button {
		width: 100%;
		font-size: 16px;
	}


}
