.hero {
	padding-top: 174px;
	// background-color: var(--c-bg-secondary);
	position: relative;
}
.container--hero {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.hero-offer {
	position: relative;
	z-index: 2;
	max-width: 623px;
}
.hero-offer__title {
	margin-bottom: 36px;
}
.hero-img {
	width: 100%;
}
.hero-img__wrap {
	margin-left: -50px;
	max-width: 994px;
	min-width: 286px;
	width: 100%;
	object-fit: contain;
	object-position: top;
	position: absolute;
	top: 0;
	right: 2%;
	z-index: 1;
}
.hero__buttons-set {
	margin-bottom: 124px;
}
.hero-clients {
	margin-bottom: 80px;
	font-size: var(--fz-h3-card);
}
.text--curve-underline {
	color: var(--c-secondary);
	position: relative;
	font-weight: 600;
	&::after {
		content: '';
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;
		display: block;
		width: calc(100%);
		height: 15px;
		background-image: url("../img/styling/curve-underline.svg");
		background-repeat: repeat-x;
		background-size: contain;
		background-position: center;

	}
}

@media (max-width: 1700px) {
	.hero-img__wrap {
		max-width: 854px;
	}
}
@media (max-width: 1600px) {
	.hero-img__wrap {
		max-width: 704px;
	}
}
@media (max-width: 1300px) {
	.hero-img__wrap {
    max-width: 594px;
	}
	.hero__buttons-set {
		margin-bottom: 34px;
	}
}

@media (max-width: 991px) {
	:root {
		--fz-h1: 40px;
	}
	.hero {
		padding-top: 104px;
	}
	.hero-img__wrap {
		position: static;
		order: -1;
		margin-left: 0;
		max-width: 300px;
		// align-self: flex-end;
	}
	.container--hero {
		flex-direction: column;
	}
	.hero-clients {
		font-size: 20px;
		margin-bottom: 60px;
	}
}

@media (max-width: 768px) {
	.hero {
		padding-top: 50px;
	}
}
@media (max-width: 576px) {
	.hero-img__wrap {
		align-self: flex-start;
	}

	.hero-offer__title {
		font-size: 30px;
		margin-bottom: 27px;
	}

	.hero-clients {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.hero-clients {
		br {
			display: none;
		}
	}
	.hero-img__wrap {
		padding-left: 20px;
		margin-bottom: 25px;
	}
	.hero__buttons-set {
		margin-bottom: 27px;
	}
}


@media (max-width: 374px) {
	.hero__buttons-set {
		flex-wrap: wrap;
	}
}
