.interrupter {
	// margin-top: -100px;
	// background-color: var(--c-bg-secondary);
	padding-top: 95px;
	padding-bottom: 90px;
	position: relative;
	z-index: 3;
}
.interrupter__inner {
	padding-left: 70px;
	padding-right: 90px;
}
.interrupter__title {
	font-size: var(--fz-h3);
	color: var(--c-text-second);
	margin-bottom: 16px;
	text-transform: uppercase;
}
.interrupter__slogan {
	font-size: 32px;
}


@media (max-width: 1300px) {
	.interrupter {
		padding-top: 20px;
	}
	.interrupter__slogan {
		font-size: 22px;
	}
}

@media (max-width: 992px) {
	.interrupter__slogan {
		font-size: 18px;
	}
}

@media (max-width: 576px) {
	:root {
		--fz-h3: 20px;
	}

	.interrupter {
		padding-bottom: 20px;
	}
	.interrupter__inner {
		padding-left: 0;
		padding-right: 0;
	}

	.interrupter__title {
		padding-left: 40px;
	}

	.interrupter__slogan {
		font-size: 16px;
	}
}
