.newsletter {
	// padding-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 90px;
	position: relative;
}
.container--newsletter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 2;
	.decorators-triangles__triangle--bordered {
		z-index: -1;
		right: unset;
    left: 210px;
    width: 447px;
    height: 447px;
    top: -110px;
	}
}
.newsletter__img {
	max-width: 364px;
	margin-right: 60px;
	margin-left: 15px;
}

.newsletter__title {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 12px;
}

.newsletter__desc {
	font-size: 16px;
	margin-bottom: 16px;
}

.newsletter-from {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 785px;
}

.input__wrapper--newsletter {
	margin-bottom: 0;
	cursor: text;
	max-width: 622px;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 19px;
}

.newsletter-form__privacy {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 400;
	font-size: 13px;
	color: #95a3ba;
}

.newsletter-form__privacy--link {
	color: #95a3ba;
	border-bottom: 1px solid #95a3ba;
	transition: all 0.3s ease;
}
.newsletter-form__privacy--link:hover {
	color: var(--c-primary);
	border-bottom-color: var(--c-primary);
}

.newsletter-triangles--mobile {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: none;
}

@media (max-width: 1100px) {
	.newsletter__img {
		max-width: 184px;
	}
	.input__wrapper--newsletter {
		margin-bottom: 15px;
	}
}

@media (max-width: 576px) {
	.newsletter {
		margin-bottom: 0;
		padding-top: 60px;
	}
	.container--newsletter {
		flex-direction: column;
		align-items: center;
	}

	.newsletter__img {
		margin-bottom: 38px;
		margin-right: auto;
		margin-left: auto;
	}

	.newsletter__submit {
		max-width: 100%;
		width: 100%;
	}

	.container--newsletter .decorators-triangles__triangle--bordered {
		z-index: -1;
    right: unset;
    left: 10px;
    width: 197px;
    height: 197px;
    top: -40px;

		path {
			stroke-width: 4;
		}
	}

	.newsletter-triangles--mobile {
		display: block;
	}

	.newsletter-triangles__triangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 350px;
		height: 350px;
		opacity: 0.3;
	}

	.newsletter-triangles__triangle:nth-child(1) {
		top: 102px;
		left: -150px;
		width: 350px;
		height: 350px;
	}

	.newsletter-triangles__triangle:nth-child(2) {
    top: 198px;
    left: 66px;
    width: 550px;
    height: 550px;
	}
}
