.programms {
	padding-top: 70px;
	padding-bottom: 55px;
}
.programms__title {
	margin-bottom: 62px;
}


.programms-table__row {
	display: grid;
	grid-template-columns: 375px 174px 111px 200px 210px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.programms-table__body {
	.programms-table__row {
		background-color: rgba(240, 242, 247, 0.45);
		// padding: 24px 32px;
		padding: 32px 22px 32px 38px;
	}
}
.programms-table-heading__desc {
	font-size: 14px;
}

.programms-table__head-name {
	font-weight: 400;
	font-size: 16px;
	color: var(--c-text-p);
	margin-bottom: 30px;
}

.programms-table__head {
	.programms-table__row {
		margin-bottom: 0;
		padding-left: 32px;
		padding-right: 32px;
	}
}

.programms-table-heading__title {
	font-size: 18px;
	margin-bottom: 12px;
	color: var(--c-text-regular);
}

.programms-table-cell__number {
	color: var(--c-text-regular);
}

.programms-table-cell__type-name {
	margin-right: 4px;
	font-weight: 400;
	font-size: 14px;
}
.programms-table-cell__type {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.programms-table-cell__number--no-desc {
	font-size: 18px;
	color: var(--c-text-regular);
}

.programms-table-cell__type--no-desc {
	display: none;
}
@media (max-width: 1300px) {
	.programms-table-cell__type--no-desc {
		display: block;
	}
	.programms-table__body {
		display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    padding-top: 35px;
	}

	.programms-table__row {
		max-width: 375px;
		display: block;
	}

	.programms-table-cell {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		margin-bottom: 20px;
	}
	.programms-table-heading__desc {
		margin-bottom: 20px;
	}
	.programms-table-cell__type-name {
		font: 14px;
	}
	.programms-table__head {
		display: none;
	}
	.programms__title {
		margin-bottom: 32px;
	}
}

.programms-table-tags {
	display: none;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.programms-table-tags__tag {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	display: block;
	padding: 6px 12px;
	background-color: #c5d0e0;
	color: var(--c-text-regular);
}

@media (max-width: 1300px) {
	.programms-table__row {
		max-width: 100%;
	}
}

@media (max-width: 992px) {
	.programms-table-tags {
		display: flex;
	}
	.programms-table__body {
		grid-template-columns: repeat(2, 1fr);
	}

	.programms-table__row {
		position: relative;
	}

	.programms-filter	{
		display: flex;
		align-items: center;
	}

	.programms-filter {
		.input__wrapper {
			margin-bottom: 0;
		}
	}


	.programms-table__body .programms-table__row {
		padding: 40px 20px 20px 20px;
	}
}

.programms-triangles--mobile {
	display: none;
}

@media (max-width: 768px) {
	.programms {
		padding-top: 35px;
		padding-bottom: 20px;
	}

	.programms-filter	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		.programms-filter__amount {
			width: 100%;
			max-width: 100%;
			margin-bottom: 10px;
		}
	}

	.programms-filter__currency {
		max-width: 114px;
	}

	.input--dropdown programms-filter__period {
		max-width: 70%;
	}


}


@media (max-width: 576px) {
	.programms-triangles--mobile {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
	}
	.programms-triangles__triangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		height: 400px;
		opacity: 0.3;
	}
	.programms-triangles__triangle:nth-child(1) {
		width: 490px;
    left: -30px;
    height: 490px;
    top: 350px;
	}
	.programms-triangles__triangle:nth-child(2) {
		width: 270px;
    left: -40px;
    height: 280px;
    top: 525px;
	}

	.programms {
		position: relative;
	}
	.programms-table__body {
		display: block;
		position: relative;
		z-index: 2;
	}
	.programms-table__row {
		margin-bottom: 20px;
		padding: 30px 20px;
	}
	.programms__title {
		font-size: 23px;
		margin-bottom: 27px;
	}

	.programms-table__body {
		padding-top: 0;
	}

	.programms-table-cell__number {
		font-size: 18px;
	}

	.programms-filter {
		.input__wrapper {
			margin-bottom: 10px;
		}
	}

	.programms-filter__amount {
		margin-bottom: 10px;
	}
}

@media (min-width: 1200px) {
	.programms-filter {
		display: none;
	}
}
