.services {
	margin-top: -70px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
}

.services-list-card {

	max-width: 32%;
	width: 100%;

	// max-width: 410px;
	min-width: 280px;
	width: 100%;
	background-color: var(--c-secondary-darker);
	margin-bottom: 20px;
	color: #fff;
	// padding: 42px 45px;
	// padding: 42px 40px 42px 45px;
	transition: transform 0.5s;
	overflow: clip;
}
.services-list-card__overflower {
	overflow: hidden;
}

.services-list-card__icon {
	transition: all 0.3s ease;
}
.services-list-card:hover .services-list-card__icon {
	// transform: scale(1.3);
	animation: loop-translate-y 1s infinite alternate;
}

.services-list-card__inner {
	height: calc(100%);
	position: relative;
	padding: 42px 40px 42px 45px;
}

.services-list-card--gutter {
	width: 20px;
}

.services-list-card__triangle {
	position: absolute;
	pointer-events: none;
	z-index: 0;
	opacity: 0.12;

	path {
		stroke: #fff;
	}
}

.services-list-card--1-per-column {
	height: calc(100%);
	height: 1123px;
	.services-list-card__triangle:nth-child(1) {
		width: 404px;
		height: 380px;
		top: 220px;
		left: -50px;
		opacity: 0.05;
	}
	.services-list-card__triangle:nth-child(2) {
		width: 870px;
		height: 800px;
		top: 300px;
		right: -490px;
	}
	.services-list-card__triangle:nth-child(3) {
		left: -200px;
		top: 598px;
		width: 693px;
		height: 646px;
	}
}

.services-list-card--2-per-column {
	height: calc(100%);
	height: 551px;

}

.services-list-card--3-per-column {
	height: calc(100%);
	height: 361px;

}

.services-list-card--3-per-column {
	.services-list-card__triangle:nth-child(1) {
		width: 404px;
		height: 380px;
		top: 100px;
		left: 50px;
	}
	.services-list-card__triangle:nth-child(2) {
		width: 273px;
		height: 254px;
		top: 173px;
		left: -95px;
	}
}

.services-list-card--2-per-column:nth-of-type(3) {
	.services-list-card__triangle:nth-child(1) {
		width: 404px;
		height: 380px;
		top: -42px;
		left: -35px;
	}
	.services-list-card__triangle:nth-child(2) {
		width: 323px;
		height: 304px;
		top: 223px;
		right: -135px;
	}
}

.services-list-card--2-per-column:nth-of-type(5) {
	.services-list-card__triangle:nth-child(1) {
		width: 444px;
    height: 440px;
    top: -50px;
    left: -240px;
	}
	.services-list-card__triangle:nth-child(2) {
		width: 503px;
    height: 414px;
    top: 233px;
    right: -175px;
	}
}

.services-list-card__title {
	font-size: var(--fz-h3-card);
	margin-bottom: 12px;
}

.services-list-card__desc {
	color: #e1e6f0;
	margin-bottom: 32px;
	font-weight: 400;
}

.services-list-card--front {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: calc(100%);
	pointer-events: none;
	position: relative;
}


.services-list-card--back {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.services-list-card.flipped {
	transform: rotateY(180deg);
	background-color: #4c5d75;

	.services-list-card--front {
		position: absolute;
		opacity: 0;
	}
	.services-list-card--back {
		position: static;
		opacity: 1;
		transform: rotateY(-180deg);
		pointer-events: initial;
	}
}

@media (max-width: 1300px) {
	.services-list-card {
	}
	.services-list-card--gutter {
		width: 15px;
	}
}

.services-slider__buttons {
	display: none;
}
@media (max-width: 991px) {
	.services {
		margin-top: 0;
		padding-top: 50px;
	}

	.services-list-card {
		max-width: 27%;
		// padding: 32px 35px;
	}
	.services-list-card__inner {
		padding: 32px 35px;
	}

	.services-list-card--gutter {
		width: 10px;
		display: none;
	}

	.services-list-card {
		width: initial;
		max-width: initial;
		min-width: initial;
	}

	.services-list-card--1-per-column,
	.services-list-card--2-per-column,
	.services-list-card--3-per-column {
		height: initial;
	}

	.services-slider {
		padding-bottom: 10px;
	}

	.services-slider .swiper-pagination.services-slider__pagination.swiper-pagination-horizontal {
		// bottom: -20px;
		// width: auto;
		// z-index: 0;
		position: static;
    display: inline-block;
    padding-top: 10px;

		.swiper-pagination-bullet-active {
			background: var(--c-secondary);
		}
	}

	.input-dropdown {
		max-height: 250px;
		overflow-y: auto;
	}

	.services-slider {
		overflow: visible;
	}

	.services-slider {
		position: relative;
		overflow: visible;

		.swiper-button-next:after,
		.swiper-button-prev:after {
			display: none;
		}
		.swiper-pagination-bullets,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			width: auto;
		}
		.swiper-pagination-bullet-active {
			background: var(--c-primary);
		}
		.services-slider__pagination {
			bottom: 25px;
			display: none;
		}
	}
	.services-slider__arrow--next {
		transform: rotate(90deg);
	}

	.swiper-slider__buttons.services-slider__buttons {
		bottom: -40px;
		position: absolute;
		width: auto;
		top: unset;
		&:after {
			content: attr(data-page);
			position: absolute;
			bottom: 0;
			font-size: 16px;
			font-weight: 400;
			// right: -20px;
			left: calc(100% + 10px);
			width: 50px;
			color: #4c5d75;
		}
	}
	.services-slider__button-prev {
		margin-right: 15px;
		position: relative;
		top: unset;
		right: unset;
		left: unset;
		bottom: unset;
	}
	.services-slider__arrow--prev {
		transform: rotate(-90deg);
		margin-right: 8px;
		position: relative;
		top: unset;
		right: unset;
		left: unset;
		bottom: unset;
	}
}

@media (max-width: 576px) {
	.services {
		padding-top: 20px;
	}

	.services__title {
		margin-bottom: 22px;
	}

	.services-slider .swiper-pagination.services-slider__pagination.swiper-pagination-horizontal {
		width: auto;
		.swiper-pagination-bullet-active {
			background: var(--c-primary);
		}
	}

	.services__title {
		margin-bottom: 32px;
	}
	.services-list-card {
	}
	.services-list-card__inner {
		padding-left: 30px;
		padding-bottom: 23px;
	}
	.services-list-card__desc {
		margin-bottom: 75px;
	}
	.services-list-card--1-per-column {
		.services-list-card__triangle:nth-child(1) {
			display: none;
		}
		.services-list-card__triangle:nth-child(2) {
			width: 334px;
			height: 380px;
			top: 80px;
			right: -130px;
			opacity: 0.14;
		}
		.services-list-card__triangle:nth-child(3) {
			width: 370px;
			height: 300px;
			top: 160px;
			right: 110px;
		}
	}
}
@media (min-width: 992px) {
	.services-slider__pagination {
		display: none;
	}
}
