.steps {
	padding-top: 80px;
	padding-bottom: 80px;
}
.steps__title {
	margin-bottom: 52px;
}

.steps-slider-slide {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.steps-slider-slide__text {
	max-width: 507px;
	padding-top: 40px;
}
.steps-slider-slide__title {
	font-size: 28px;
	margin-bottom: 24px;
}
.steps-slider-slide__step {
	color: var(--c-primary);
	font-size: 56px;
	font-weight: 500;
	margin-bottom: 45px;
}

.steps-slider {
	position: relative;
	overflow: hidden;

	.swiper-button-next:after,
	.swiper-button-prev:after {
		display: none;
	}
	.swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		width: auto;
	}
	.swiper-pagination-bullet-active {
		background: var(--c-primary);
	}
	.steps-slider__pagination {
		bottom: 25px;
	}
}

.swiper-slider__buttons {
	position: absolute;
	bottom: 20px;
	right: 39.7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.steps-slider__arrow--next {
	transform: rotate(90deg)
}

.steps-slider__button-prev {
	margin-right: 15px;
}
.steps-slider__arrow--prev {
	transform: rotate(-90deg)
}

.steps-slider__button {
	position: static;
}

.steps-slider-slide__img {
	max-width: 620px;
	width: 100%;
	max-height: 326px;
	height: 326px;
	object-fit: cover;
	background-color: rgba(234,234,234,0.4);
}
