.steps {
	padding-top: 80px;
	padding-bottom: 80px;
}
.steps__title {
	margin-bottom: 52px;
}

.steps-slider-slide {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.steps-slider-slide__text {
	max-width: 507px;
	padding-top: 40px;
}
.steps-slider-slide__title {
	font-size: 28px;
	margin-bottom: 24px;
	font-weight: 400;
}
.steps-slider-slide__step {
	color: var(--c-primary);
	font-size: 56px;
	font-weight: 500;
	margin-bottom: 45px;
}

.steps-slider {
	position: relative;
	overflow: hidden;

	.swiper-button-next:after,
	.swiper-button-prev:after {
		display: none;
	}
	.swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		width: auto;
	}
	.swiper-pagination-bullet-active {
		background: var(--c-primary);
	}
	.steps-slider__pagination {
		bottom: 25px;
	}
}

.swiper-slider__buttons {
	position: absolute;
	bottom: 20px;
	right: 39.7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.steps-slider__arrow--next {
	transform: rotate(90deg)
}

.steps-slider__button-prev {
	margin-right: 15px;
}
.steps-slider__arrow--prev {
	transform: rotate(-90deg)
}

.steps-slider-slide__desc {
	font-weight: 400;
}

.steps-slider__button {
	position: relative;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: 0.6;
}

.steps-slider-slide__img {
	max-width: 620px;
	width: 100%;
	max-height: 326px;
	height: 326px;
	object-fit: contain;
	// background-color: rgba(234,234,234,0.4);
}

@media (max-width: 1300px) {
	.steps {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.swiper-slider__buttons {
		left: 38%;
		right: unset;
	}
	.steps-slider .steps-slider__pagination {
		bottom: 0;
	}
	.steps-slider-slide__text {
		padding-bottom: 30px;
	}

	.steps-slider-slide__img {
		max-width: 515px;
	}
	.steps-slider-slide__text {
		padding-right: 30px;
	}

}

@media (max-width: 1300px) and (min-width: 992px) {
	.swiper-slider__buttons {
		width: 50vw;
    left: unset;
    right: 0;
    justify-content: flex-start;
	}
}
@media (max-width: 992px) {
	.steps-slider-slide {
		flex-direction: column-reverse;
	}

	.steps-slider-slide__img{
		max-width: 100%;
	}

	.swiper-slider__buttons {
		bottom: unset;
    top: 300px;
    left: 20px;
	}

	.steps-slider-slide__step {
		font-size: 50px;
		margin-bottom: 20px;
	}

	.steps-slider-slide__title {
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 16px;
	}

	.steps-slider-slide__desc {
		font-size: 16px;
		line-height: 160%;
		font-weight: 400;
	}
}

@media (max-width: 576px) {
	.steps__title {
		margin-bottom: 20px;
	}
	.steps {
		padding-top: 15px;
	}
	.steps-slider-slide__img {
		height: 245px;
	}
	.swiper-slider__buttons {
		top: 215px;
	}
	.steps-slider-slide__text {
		padding-top: 57px;
		padding-right: 0;
		padding-bottom: 50px;
	}
	.steps-slider-slide__step {
		margin-bottom: 30px;
	}
	.steps-slider-slide__title {
		margin-bottom: 24px;
	}

}

.steps-slider .steps-slider__pagination {
	display: inline-block;
	position: static;
}
.steps-slider-slide__text {
	padding-bottom: 30px;
}
