@keyframes loop-translate-x {
	0% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(-20px);
	}
}

@keyframes loop-translate-y {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes pulse {
	to { transform: scale(1.15); }
}
